@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron">
        <h1>The LITEST travel agency 5ver</h1>
        <p class="lead">Kanye got ninjas in Paris, We got ninjas around the world! It's about to get lit when you come thru. Let's get it!</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">We OUT! <span class="glyphicon glyphicon-plane" ></span></a></p>
    </div>

    <div class="row">
        <div class="col-md-4" id="indexFirstDiv">
            <h2>Read the reviews!</h2>
            <p>
                We got places all around  the world you gots to see! You gots to see whats happening when people come thru!
            </p>
            <p><a class="btn btn-default" href="http://localhost:60769/Reviews/Index">LGI! <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></a></p>
        </div>
        <div class="col-md-4">
            <h2>You got something to say?</h2>
            <p>Well, say it here my g! If you linked up with us and stay with the ninjas around the world, post it up!</p>
            <p><a class="btn btn-default" href="http://localhost:60769/Reviews/Create">Post up! <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Pictures/tumblr_inline_o4ipyfbARV1r312r2_500.png" id="dab"/>
        </div>
    </div>
