body{
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url('../Pictures/sK1ve5.jpg');
    background-size:cover;
}
.jumbotron {
    background-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #6fc4a9;
}
.col-md-4{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:-3px -1px 7px #6fc4a9;
}
.btn-default{
    text-shadow:none;
}
.glyphicon-plane{
    color:black;
}
.glyphicon-fire{
    color:red;
}
.glyphicon-thumbs-up{
    color:blue;
}
#dab{
    height:200px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h2{
    color:#286b6d;
    font-family: 'Rock Salt', cursive;
    text-shadow:-3px -1px 3px white;
}
#reviewIndex{
    text-shadow:none;
    border:2px groove white;
    color:#6fc4a9;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.form-horizontal{
    color:#6fc4a9;
}
#foxDude{
   position:absolute;
   right:0px;
}
footer{
    color:white;

}
